@theme {
    --*: initial;
}

@import './fonts/fonts.css';
@import './variables/colors.css';
@import './variables/layout.css';
@import './variables/typography.css';
@import './variables/animations.css';
@import './variables/shadows.css';
@import './variables/tokens.css';

@layer base {
    button {
        text-align: inherit;
    }
}
