**/node_modules/
**/__mocks__/
**/fixtures/

apps/mgo/dist
apps/mgo/test

packages/fhir-data/dist
packages/fhir-data/test
packages/fhir-data/fhir-definitions

.vscode/
.reuse/
.github/
coverage/
LICENSES/
docs/

Dockerfile
docker-compose.yml
vitest.config.ts
*.properties
*.test.ts
*.http
*.log
*.md
.git
.gitignore
.prettierignore
.prettierrc.*
.tool-versions
.DS_Store
.env
.env.*
