# Warning: 
#  Changing the PORT to anything other than 8000 could potentially break the login
#  as localhost:8000 is allowlisted for the OIDC redirect_uri
PORT=8000
OIDC_AUTHORITY="https://max.test.mgo.irealisatie.nl"
LOAD_URL="https://lo-ad.test.mgo.irealisatie.nl"
DVA_URL="https://dva.test.mgo.irealisatie.nl"
