pnpm-lock.yaml
pnpm-workspace.yaml
LICENSE
LICENSE.*
LICENSES.*
packages/fhir-data/fhir-definitions
packages/fhir-data/dist
packages/intl/locales
*.snap.json
*-snapshots/
apps/mgo/dist
apps/mgo-e2e/results
