# compiled output and coverage
build
dist
tmp
out-tsc

/coverage
/.nx/cache
/.nx/workspace-data

pnpm-lock.yaml
pnpm-workspace.yaml
LICENSE
LICENSE.*
LICENSES.*
CHANGELOG.md
packages/fhir-data/fhir-definitions
packages/fhir-data/build
packages/intl/src/locales
*.snap.json
*-snapshots/
apps/mgo/build
apps/mgo-e2e/results
