pnpm-lock.yaml
pnpm-workspace.yaml
LICENSE
LICENSE.*
LICENSES.*
packages/fhir-data/fhir-definitions
packages/fhir-data/dist
packages/mgo-intl/locales
*.snap.json
*-snapshots/
apps/mgo/dist
apps/e2e-tests/results
