services:
    playwright:
        container_name: playwright
        build:
            context: .
            dockerfile: Dockerfile.e2e
            args:
                - NODE_VERSION=22.19.0
                - PLAYWRIGHT_VERSION=1.56.1 # Needs to match the version in mgo-e2e/package.json
        environment:
            - BASIC_AUTH_USER=${BASIC_AUTH_USER}
            - BASIC_AUTH_PASSWORD=${BASIC_AUTH_PASSWORD}
        tty: true
        ipc: host
        network_mode: host
        volumes:
            - ./apps/mgo-e2e/results:/app/apps/mgo-e2e/results/
    mgo:
        container_name: mgo
        build:
            context: .
            dockerfile: Dockerfile
            args:
                - NODE_VERSION=22.19.0
                - NGINX_VERSION=1.26.3
                - IGNORE_MISSING_TRANSLATIONS
                - LOAD_URL
                - DVA_URL
        ports:
            - 8000:8080
