@theme {
    --animate-spin: spin 1s linear infinite;
    --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-ease-out: cubic-bezier(0.4, 0, 0.2, 1);

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes pulse {
        50% {
            opacity: 0.5;
        }
    }
}
