@theme {
    /* basic */
    --color-inherit: inherit;
    --color-current: currentColor;
    --color-transparent: transparent;
    --color-black: #000;
    --color-white: #fff;

    /* gray */
    --color-gray-50: #f5f5f5;
    --color-gray-100: #e7e7e7;
    --color-gray-200: #d1d1d1;
    --color-gray-300: #b0b0b0;
    --color-gray-400: #888888;
    --color-gray-500: #6d6d6d;
    --color-gray-600: #5d5d5d;
    --color-gray-700: #4f4f4f;
    --color-gray-800: #3d3d3d;
    --color-gray-900: #242424;
    --color-gray-950: #121212;

    /* sky-blue */
    --color-sky-blue-50: #f0f8ff;
    --color-sky-blue-100: #e0f1fe;
    --color-sky-blue-200: #b9e3fe;
    --color-sky-blue-300: #7ccefd;
    --color-sky-blue-400: #36b6fa;
    --color-sky-blue-500: #0c9deb;
    --color-sky-blue-600: #007bc7;
    --color-sky-blue-700: #0162a3;
    --color-sky-blue-800: #065486;
    --color-sky-blue-900: #0b466f;
    --color-sky-blue-950: #072c4a;

    /* dark-blue */
    --color-dark-blue-50: #f0f9ff;
    --color-dark-blue-100: #e0f3fe;
    --color-dark-blue-200: #b9e8fe;
    --color-dark-blue-300: #7bd7fe;
    --color-dark-blue-400: #36c3fa;
    --color-dark-blue-500: #0babec;
    --color-dark-blue-600: #008ac9;
    --color-dark-blue-700: #01689b;
    --color-dark-blue-800: #055c87;
    --color-dark-blue-900: #0b4c6f;
    --color-dark-blue-950: #07314a;

    /* light-blue */
    --color-light-blue-50: #f2f9fd;
    --color-light-blue-100: #e5f1f9;
    --color-light-blue-200: #c5e3f2;
    --color-light-blue-300: #8fcae7;
    --color-light-blue-400: #57b0d9;
    --color-light-blue-500: #3197c6;
    --color-light-blue-600: #2279a7;
    --color-light-blue-700: #1c6188;
    --color-light-blue-800: #1b5271;
    --color-light-blue-900: #1c465e;
    --color-light-blue-950: #122d3f;

    /* lint-blue */
    --color-lint-blue-50: #f2f7fd;
    --color-lint-blue-100: #e3edfb;
    --color-lint-blue-200: #c2dbf5;
    --color-lint-blue-300: #8cbded;
    --color-lint-blue-400: #4e9be2;
    --color-lint-blue-500: #277ed0;
    --color-lint-blue-600: #1963b0;
    --color-lint-blue-700: #154f8f;
    --color-lint-blue-800: #154273;
    --color-lint-blue-900: #154273;
    --color-lint-blue-950: #102541;

    /* green */
    --color-green-50: #f2ffe6;
    --color-green-100: #e2fec9;
    --color-green-200: #c6fc9a;
    --color-green-300: #a0f75f;
    --color-green-400: #7eec2f;
    --color-green-500: #5ed210;
    --color-green-600: #46a808;
    --color-green-700: #39870c;
    --color-green-800: #2e650f;
    --color-green-900: #285512;
    --color-green-950: #112f04;

    /* dark-green */
    --color-dark-green-50: #f3faf5;
    --color-dark-green-100: #e2f6e8;
    --color-dark-green-200: #c7ebd2;
    --color-dark-green-300: #9bdaae;
    --color-dark-green-400: #67c183;
    --color-dark-green-500: #42a560;
    --color-dark-green-600: #32874c;
    --color-dark-green-700: #2a6b3e;
    --color-dark-green-800: #275937;
    --color-dark-green-900: #20472e;
    --color-dark-green-950: #0d2616;

    /* mint */
    --color-mint-50: #f2fbf8;
    --color-mint-100: #d4f3e7;
    --color-mint-200: #a9e6d1;
    --color-mint-300: #76d2b6;
    --color-mint-400: #4ab79a;
    --color-mint-500: #309c80;
    --color-mint-600: #247d68;
    --color-mint-700: #216455;
    --color-mint-800: #1e5146;
    --color-mint-900: #1d443b;
    --color-mint-950: #0b2823;

    /* moss */
    --color-moss-50: #fff9e2;
    --color-moss-100: #fff4c0;
    --color-moss-200: #ffef88;
    --color-moss-300: #ffeb44;
    --color-moss-400: #ffef0d;
    --color-moss-500: #f0f500;
    --color-moss-600: #bbc500;
    --color-moss-700: #8c9500;
    --color-moss-800: #777b00;
    --color-moss-900: #5c6106;
    --color-moss-950: #303700;

    /* yellow */
    --color-yellow-50: #fefee8;
    --color-yellow-100: #fefec3;
    --color-yellow-200: #fdfa8b;
    --color-yellow-300: #fcef48;
    --color-yellow-400: #f9e11e;
    --color-yellow-500: #e9c609;
    --color-yellow-600: #c99c05;
    --color-yellow-700: #a07008;
    --color-yellow-800: #84580f;
    --color-yellow-900: #704713;
    --color-yellow-950: #422506;

    /* dark-yellow */
    --color-dark-yellow-50: #fffaeb;
    --color-dark-yellow-100: #fff2c6;
    --color-dark-yellow-200: #ffe488;
    --color-dark-yellow-300: #ffd04a;
    --color-dark-yellow-400: #ffb612;
    --color-dark-yellow-500: #f99807;
    --color-dark-yellow-600: #dd7102;
    --color-dark-yellow-700: #b74e06;
    --color-dark-yellow-800: #943b0c;
    --color-dark-yellow-900: #7a310d;
    --color-dark-yellow-950: #461802;

    /* orange */
    --color-orange-50: #fffaea;
    --color-orange-100: #fff2c5;
    --color-orange-200: #ffe387;
    --color-orange-300: #ffcf48;
    --color-orange-400: #ffba1e;
    --color-orange-500: #fc9704;
    --color-orange-600: #e17000;
    --color-orange-700: #b94b04;
    --color-orange-800: #963a0a;
    --color-orange-900: #7b300c;
    --color-orange-950: #471601;

    /* red */
    --color-red-50: #fef3f2;
    --color-red-100: #ffe3e1;
    --color-red-200: #ffcdc9;
    --color-red-300: #fea9a3;
    --color-red-400: #fb786e;
    --color-red-500: #f34d40;
    --color-red-600: #d52b1e;
    --color-red-700: #bc2519;
    --color-red-800: #9c2118;
    --color-red-900: #81221b;
    --color-red-950: #460d09;

    /* ruby */
    --color-ruby-50: #fff0f9;
    --color-ruby-100: #ffe4f4;
    --color-ruby-200: #ffc9eb;
    --color-ruby-300: #ff9cd9;
    --color-ruby-400: #ff5fbe;
    --color-ruby-500: #ff30a2;
    --color-ruby-600: #f50d7e;
    --color-ruby-700: #ca005d;
    --color-ruby-800: #b00451;
    --color-ruby-900: #920946;
    --color-ruby-950: #5b0026;

    /* violet */
    --color-violet-50: #fff0fb;
    --color-violet-100: #ffe3f9;
    --color-violet-200: #ffc7f3;
    --color-violet-300: #ff9ae6;
    --color-violet-400: #ff5cd3;
    --color-violet-500: #ff2cbd;
    --color-violet-600: #fa089d;
    --color-violet-700: #da007d;
    --color-violet-800: #a90061;
    --color-violet-900: #950657;
    --color-violet-950: #5d0031;

    /* pink */
    --color-pink-50: #fcf3f9;
    --color-pink-100: #fbe8f5;
    --color-pink-200: #f8d2ec;
    --color-pink-300: #f4addb;
    --color-pink-400: #f092cd;
    --color-pink-500: #e351a8;
    --color-pink-600: #d13189;
    --color-pink-700: #b5216e;
    --color-pink-800: #951f5a;
    --color-pink-900: #7d1e4e;
    --color-pink-950: #4c0b2c;

    /* purple */
    --color-purple-50: #faf6fe;
    --color-purple-100: #f4ebfc;
    --color-purple-200: #ebdafa;
    --color-purple-300: #dbbdf5;
    --color-purple-400: #c593ed;
    --color-purple-500: #af69e3;
    --color-purple-600: #994ad3;
    --color-purple-700: #8437b9;
    --color-purple-800: #6e3297;
    --color-purple-900: #5a297a;
    --color-purple-950: #42145f;

    /* brown */
    --color-brown-50: #fbfde9;
    --color-brown-100: #f9fdc4;
    --color-brown-200: #f7fb8d;
    --color-brown-300: #f9f84b;
    --color-brown-400: #f5eb1a;
    --color-brown-500: #e5d20d;
    --color-brown-600: #c5a509;
    --color-brown-700: #94710a;
    --color-brown-800: #825f11;
    --color-brown-900: #6f4d14;
    --color-brown-950: #412907;

    /* dark-brown */
    --color-dark-brown-50: #fbf6f1;
    --color-dark-brown-100: #f7eadd;
    --color-dark-brown-200: #edd3bb;
    --color-dark-brown-300: #e2b38f;
    --color-dark-brown-400: #d58e62;
    --color-dark-brown-500: #cc7243;
    --color-dark-brown-600: #be5d38;
    --color-dark-brown-700: #9e4930;
    --color-dark-brown-800: #7f3b2d;
    --color-dark-brown-900: #673327;
    --color-dark-brown-950: #371913;
}
