/* ================================
   IMPORTANT: This file is only here to enable Tailwind CSS IntelliSense!
   It is not used in the project
   ================================ */

@import 'tailwindcss';
@import '../tailwind/theme.css';
