.mgo-markdown-content {
    /* Needs to be inside the .mgo-markdown-content to avoid conflicts with the default tailwind config */
    @import 'tailwindcss';
    @reference "../../../tailwind/theme.css";

    /* same as default <Text size="md" /> */
    @apply leading-snug-lg text-lg md:leading-normal lg:text-xl;
    @apply text-t-label-primary font-sans font-normal;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-t-label-primary font-sans leading-none font-bold;
    }

    h1 {
        @apply mb-6 text-6xl md:text-7xl lg:text-8xl;
    }

    h2 {
        @apply leading-tight-sm mb-4 text-xl md:text-2xl md:leading-snug lg:text-3xl lg:leading-normal;
    }

    h3 {
        @apply leading-snug-lg mb-2 text-lg md:leading-normal lg:text-xl;
    }

    ul,
    ol {
        @apply my-[1em] list-outside pl-12;

        ol,
        ul {
            @apply my-0;
        }

        li::marker {
            margin-right: 3ch;
        }
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    li {
        @apply list-item;
    }

    p,
    pre {
        @apply my-[1em];
    }

    pre {
        @apply bg-t-bg-tertiary rounded-lg p-4 whitespace-pre-wrap;
    }

    a {
        @apply cursor-pointer underline hover:no-underline focus-visible:outline-2;
        @apply text-dark-blue-500 hover:text-dark-blue-600 active:text-dark-blue-700 visited:text-[#884488];
        @apply dark:text-dark-blue-300 dark:hover:text-dark-blue-400 dark:active:text-dark-blue-500 dark:visited:text-[#c388c3];
        @apply focus-visible:outline-black focus-visible:outline-dashed dark:focus-visible:outline-white;
    }

    blockquote {
        @apply m-0 border-l-4 border-l-gray-200 px-0 py-4 text-gray-600 dark:border-l-gray-700 dark:text-gray-200;

        > *:first-child {
            @apply mt-0;
        }

        > *:last-child {
            @apply mb-0;
        }
    }

    img {
        @apply max-w-full;
    }
}
