/* TailwindCSS */

@import 'tailwindcss';
@import '../tailwind/theme.css';

@source '../src';
@source '../docs';

@custom-variant dark {
    @media (prefers-color-scheme: dark) {
        & {
            @slot;
        }
    }

    &:where(.dark, .dark *) {
        @slot;
    }
}

/* Storybook */

@media (prefers-color-scheme: dark) {
    .docs-story,
    body {
        background: #050505;
    }
}

@media (prefers-color-scheme: light) {
    .docs-story,
    body {
        background: #fafafa;
    }
}

#storybook-docs {
    overflow-x: hidden;
}

.sbdocs {
    position: relative;
}

.sbdocs > * {
    position: relative;
    z-index: 1;
}

.sb-opacity-background {
    position: absolute !important;
    z-index: 0 !important;
    top: -4rem;
    left: -100%;
    right: -100%;
    bottom: -4rem;
    opacity: 0.8;
    background-color: #ffffff;
    background-image:
        repeating-linear-gradient(
            45deg,
            #e0e0e0 25%,
            transparent 25%,
            transparent 75%,
            #e0e0e0 75%,
            #e0e0e0
        ),
        repeating-linear-gradient(45deg, #e0e0e0 25%, #fff 25%, #fff 75%, #e0e0e0 75%, #e0e0e0);
    background-position:
        0 0,
        10px 10px;
    background-size: 20px 20px;
}

html,
body,
#storybook-root {
    height: 100%;
}

.sbdocs > p {
    font-size: 1rem !important;
}

.sbdocs .intro * {
    font-size: 1.25rem !important;
    color: #535353 !important;
    line-height: 1.25 !important;
}

.sbdocs .context p {
    color: #535353 !important;
}

blockquote {
    padding: 1rem 0.75rem !important;
}

.sbdocs .context blockquote {
    background-color: #f3f3f3 !important;
}
